* {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #19202f;
}

/* Add a black background color to the top navigation */
.topnav {
    padding-top: 10px;
    overflow: hidden;
    align-self: center;
    display: flex;
    justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

/* Add a color to the active/current link */
.topnav a.active {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

#center-name {
    padding-top: 75px;
    text-align: center;
    font-size: 150px;
}

#center-description {
    text-align: center;
    font-weight: lighter;
}